$fuente-size:(
    titulo-principal: 40px,
    titulo1: 26px,
    titulo2: 24px,
);

$fuente-size768:(
    titulo-principal: 30px,
    titulo1: 26px,
    titulo2: 24px,
);

$fuente-size425:(
    titulo-principal: 24px,
    titulo1: 20px,
    titulo2: 20px,
);