@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

$font-title: "Josefin Sans", serif;
$font-family: "DM Sans", serif;
h1{
    font-family: $font-title;
    font-size: map-get($fuente-size, titulo1 );
}
h2{
    font-family: $font-title;
    font-size: map-get($fuente-size , titulo2 );
}

body{
    font-family: $font-family;
    color: $secondary;
    header{
        p{
            text-align: center;
        }
        h3{
            font-family: $font-title;
            color: $secondary;
        }
    }
    
}